
    <div class="container">
        <header class="header">
            <h1 class="head"></h1>
            <a href="/home/add">    <button class="back">Back</button> </a>
        </header>
        <main class="main">
            <label for="name">Name:</label>
            <input type="text" id="name" placeholder="Yangilik nomini ozgartirish">
            <label for="coment">Detail:</label>
            <textarea id="coment" placeholder='Yangilik haqidada batafsilni ozgartirish'></textarea>
            <label for="img">Image:</label>
            <input type="file" multiple class="file">

            <button class="submit">Submit</button>
        </main>
    </div>