

    <div>
        <h1>Show News</h1>
        <h5><b>Name:</b> <i>Yangillik nomi</i> </h5>
        <h5><b>Details:</b>  <i>Yangilik haqida batafsil</i> </h5>
        <h5><b>Image:</b> <img < crl="https://frankfurt.apollo.olxcdn.com/v1/files/looa0a4zb5ts3-UZ/image"></h5>
    </div>

    <style>
        div {
            margin-top: 10px;
            margin-left: 10px;
        }
    </style>